.editAppConfig {
    width: 835px;
    height: 345px;
    display: grid;
    grid-template-columns: 180px 0.5fr 180px 0.5fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    gap: 10px;
    grid-template-areas:
        "outputDeviceLabel outputDeviceEdit outputDeviceEdit outputDeviceEdit"
        "midiInputDeviceLabel midiInputDeviceEdit midiInputDeviceEdit midiInputDeviceEdit"
        "defaultAuthorNameLabel defaultAuthorNameEdit defaultAuthorNameEdit defaultAuthorNameEdit"
        "defaultPatternLengthLabel defaultPatternLengthEdit defaultTrackCountLabel defaultTrackCountEdit"
        "defaultLinesPerBeatLabel defaultLinesPerBeatEdit defaultBeatsPerMinuteLabel defaultBeatsPerMinuteEdit"
        "saveCloseButtons saveCloseButtons saveCloseButtons saveCloseButtons"
}

.outputDeviceLabel {
    grid-area: outputDeviceLabel;
}

.outputDeviceEdit {
    grid-area: outputDeviceEdit;
}

.midiInputDeviceLabel {
    grid-area: midiInputDeviceLabel;
}

.midiInputDeviceEdit {
    grid-area: midiInputDeviceEdit;
}

.defaultAuthorNameLabel {
    grid-area: defaultAuthorNameLabel;
}

.defaultAuthorNameEdit {
    grid-area: defaultAuthorNameEdit;
}

.saveCloseButtons {
    grid-area: saveCloseButtons;
}

.defaultPatternLengthLabel {
    grid-area: defaultPatternLengthLabel;
}

.defaultPatternLengthEdit {
    grid-area: defaultPatternLengthEdit;
}

.defaultTrackCountLabel {
    grid-area: defaultTrackCountLabel;
}

.defaultTrackCountEdit {
    grid-area: defaultTrackCountEdit;
}

.defaultLinesPerBeatLabel {
    grid-area: defaultLinesPerBeatLabel;
}

.defaultLinesPerBeatEdit {
    grid-area: defaultLinesPerBeatEdit;
}

.defaultBeatsPerMinuteLabel {
    grid-area: defaultBeatsPerMinuteLabel;
}

.defaultBeatsPerMinuteEdit {
    grid-area: defaultBeatsPerMinuteEdit;
}

.editAppConfig label {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--colour-sample-edit-label);
    padding-top: 13px;
}

.editAppConfig select {
    box-sizing: content-box;
    width: 100%;
    height: 28px;
    background-color: transparent;
    border: none;
    font-family: SplineSansMono, monospace;
    font-size: 16px;
    font-weight: bold;
    color: var(--colour-sample-edit-input-text);
    accent-color: var(--colour-sample-edit-input-text);
}

.editAppConfig select:focus {
    outline: none;
}

.editAppConfig input[type='text'] {
    width: 100%;
    height: 28px;
    background-color: transparent;
    border: none;
    font-family: SplineSansMono, monospace;
    font-size: 16px;
    font-weight: bold;
    color: var(--colour-sample-edit-input-text);
}

.editAppConfig input[type='text']:focus {
    outline: none;
}

.defaultPatternLengthEdit {
    width: 40px;
}

.defaultTrackCountEdit {
    width: 30px;
}

.defaultLinesPerBeatEdit {
    width: 30px;
}

.defaultBeatsPerMinuteEdit {
    width: 30px;
}
