.editModuleTitle {
    width: 835px;
    height: 225px;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 10px;
    grid-template-areas:
        "moduleNameLabel moduleNameEdit"
        "authorLabel authorEdit"
        "defaultPatternLengthLabel defaultPatternLengthEdit"
        "saveCloseButtons saveCloseButtons"
}

.editModuleTitle label {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--colour-sample-edit-label);
    padding-top: 13px;
}

.editModuleTitle input[type='text'] {
    width: 100%;
    height: 28px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: var(--colour-sample-edit-input-text);
    caret-shape: block;
    caret-color: var(--colour-sample-edit-input-text);
    accent-color: var(--colour-sample-edit-input-text);
}

.editModuleTitle input:focus {
    outline: none;
}

.defaultPatternLengthEdit .uiArea {
    width: 35px;
}