.sampleList {
    grid-area: sampleList;
    min-height: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px 0 10px;
}

.sampleList button {
    background-color: var(--colour-samplelist-button-bg);
    color: var(--colour-button-fg);
    font-family: FiraCode, monospace;
    font-size: 12px;
    width: 100%;
    height: 21px;
    border: none;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sampleList button.selected {
    background-color: var(--colour-samplelist-button-selected-bg);
    color: var(--colour-button-fg);
    border: none;
    border-radius: 5px;
}