.masterGain {
    grid-area: masterGain;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    padding-left: 10px;
    border-top-right-radius: 10px;
}

.masterGain input[type='range'] {
    accent-color: var(--colour-master-gain-accent);
    width: 115px;
}

.masterGain .gainValue {
    color: var(--colour-master-gain-value);
    padding-right: 5px;
    width: 29px;
    text-align: center;
}

.masterGain canvas.vuMeter {
    background-color: var(--colour-panel-bg);
    display: block;
    width: 120px;
    height: 100%;
}