.patternView {
    grid-area: patternView;
    min-height: 0;
    overflow: hidden;
    font-family: FiraCode, monospace;
    padding: 0;
    border-bottom-left-radius: 10px;
}

.patternView canvas {
    display: block;
}