.patternView {
    grid-area: patternView;
    min-height: 0;
    overflow: hidden;
    font-family: FiraCode, monospace;
    color: #00bb99;
    padding: 0;
}

.patternView canvas {
    display: block;
    background-color: #111111;
}