.sequenceView {
    grid-area: sequenceView;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.sequence {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    gap: 5px;
    overflow: hidden;
    padding: 0;
}

.sequence .withPatternControls {
    height: 100%;
}

.sequence .sequencePos {
    display: block;
    min-width: calc(var(--sequence-digits) * 0.6em + 10px);
    width: 25px;
    height: 25px;
    font-family: FiraCode, monospace;
    font-size: 12px;
    color: var(--colour-sequence-position-fg);
    text-align: center;
    vertical-align: middle;
    background-color: var(--colour-sequence-position-bg);
    border: solid 1px var(--colour-sequence-position-bg);
    border-radius: 5px;
    margin-top: 13px;
    padding: 0;
}

.sequence .sequencePos:hover {
    color: var(--colour-sequence-position-bg);
    background-color: var(--colour-sequence-position-fg);
    border: solid 1px var(--colour-sequence-position-bg);
}

.sequence .sequencePos.current {
    background-color: var(--colour-sequence-position-current-bg);
    border: solid 1px var(--colour-sequence-position-current-bg);
    margin: 0;
}

.sequence .changePatternButton {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 13px;
}

.sequence .changePatternButton.increment svg {
    transform: translateY(-4.5px);
}

.sequence .changePatternButton.decrement svg {
    transform: translateY(-6.5px);
}

.sequence .enabled {
    color: var(--colour-sequence-change-pattern-enabled);
}

.sequence .disabled {
    color: var(--colour-sequence-change-pattern);
}

.sequenceEditButtons {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    width: 100px;
    margin-top: 10px;
}

.sequenceEditButtons button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: solid 1px var(--colour-button-fg);
    padding: 0;
}

.sequenceEditButtons button svg {
    transform: translateY(1px);
}

.sequenceEditButtons button.disabled {
    background-color: var(--colour-sequence-edit-button-bg);
    border: solid 1px transparent;
}

.sequenceEditButtons button.enabled {
    color: var(--colour-button-fg);
    background-color: var(--colour-sequence-edit-button-enabled-bg);
}

.sequenceEditButtons button.enabled:hover {
    background-color: var(--colour-button-fg);
    color: var(--colour-sequence-edit-button-enabled-bg);
    border: solid 1px var(--colour-sequence-edit-button-enabled-bg);
}
