.sequenceView {
    grid-area: sequenceView;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    overflow: hidden;
    padding: 0 0 0 10px;
}

.sequenceView .withPatternControls {
    height: 100%;
}

.sequenceView .sequencePos {
    display: block;
    min-width: calc(var(--sequence-digits) * 0.6em + 10px);
    width: 25px;
    height: 25px;
    font-family: FiraCode, monospace;
    font-size: 12px;
    color: black;
    text-align: center;
    vertical-align: middle;
    background-color: #33330f;
    border: solid 1px #33330f;
    border-radius: 5px;
    margin-top: 13px;
    padding: 0;
}

.sequenceView .sequencePos.current {
    background-color: #cccc22;
    border: solid 1px #cccc22;
    margin: 0;
}

.sequenceView .changePatternButton {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 13px;
}

.sequenceView .changePatternButton.increment svg {
    transform: translateY(-4.5px);
}

.sequenceView .changePatternButton.decrement svg {
    transform: translateY(-6px);
}

.sequenceView .enabled {
    color: #cccc22;
}

.sequenceView .disabled {
    color: #33330f;
}
