.transportBar {
    grid-area: transport;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    border-top-right-radius: 10px;
}

.transportBar button {
    height: 30px;
    width: 30px;
    background: var(--colour-transport-button-bg);
    color: var(--colour-button-fg);
    border-radius: 5px;
    border: solid 1px var(--colour-button-fg);
    padding: 0;
}

.transportBar button:hover {
    background: var(--colour-button-fg);
    color: var(--colour-transport-button-bg);
    border: solid 1px var(--colour-transport-button-bg);
}

.transportBar button.playPause svg {
    transform: translateX(0px) translateY(1px);
}

.transportBar button.repeatOnOff svg {
    transform: translateX(0px) translateY(1px);
}

.transportBar button.fastForward svg {
    transform: translateX(1px) translateY(1px);
}

.transportBar button.rewind svg {
    transform: translateX(-1px) translateY(1px);
}

.transportBar .transportState {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    background-color: transparent;
    color: var(--colour-text);
    font-size: 12px;
}
