@font-face {
  font-family: FiraCode;
  src: url('assets/fonts/FiraCode-Medium.woff2') format('woff2');
}

@font-face {
  font-family: PixelCode;
  src: url('assets/fonts/PixelCode.woff2') format('woff2');
}

@font-face {
  font-family: SplineSansMono;
  src: url('assets/fonts/SplineSansMono-VariableFont_wght.woff2') format('woff2');
}

:root {
  height: 100%;
  margin: 0;
  font-family: SplineSansMono, monospace;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: var(--colour-text);
  background: var(--colour-ui-bg);
  overscroll-behavior: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 5px;
  padding-top: 5px;
  height: calc(100vh - 25px); /* because margin: 10px */
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 50px 50px minmax(0, 1fr);
  grid-template-areas:
    "moduleHeader masterGain"
    "sequenceView transport"
    "patternView sampleList";
}

.uiArea {
  background: var(--colour-panel-bg);
}

.padded {
  padding: 10px 10px 10px 10px;
}

.rounded {
  border-radius: 10px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input[type="text"] {
  font-family: SplineSansMono, monospace;
  font-weight: bold;
  font-size: 16px;
}

label {
  font-size: 16px;
}