:root {
    --colour-ui-bg: #333333;
    --colour-panel-bg: #1c1c1c;
    --colour-beat-line: #252525;
    --colour-track-lane-separator: #333333;
    --colour-text: #dddddd;
    --colour-pattern-text-muted: #444444;
    --colour-pattern-text-channel-muted: #333333;
    --colour-pattern-text-bright: #ffffff;
    --colour-playhead: #333333;
    --colour-note: #00aa90;
    --colour-note-at-playhead: #00ffee;
    --colour-sample: #aaaa55;
    --colour-sample-at-playhead: #eeee33;
    --colour-effect: #aa7700;
    --colour-effect-at-playhead: #ffbb00;
    --colour-cursor: #00ff00;
    --colour-cursor-text: #003300;
    --colour-selection-fill: rgba(80, 140, 255, 0.25);
    --colour-selection-outline: rgba(80, 140, 255, 0.5);
    --colour-modal-background: #222222;
    --colour-modal-border: #555555;
    --colour-button-fg: black;
    --colour-button-load-module-bg: #cc1111;
    --colour-button-load-sample-bg: #cccc22;
    --colour-button-save-sample-bg: #cccc22;
    --colour-button-save-module-bg: #2222ff;
    --colour-button-export-module-bg: #2222ff;
    --colour-button-bounce-module-bg: green;
    --colour-button-edit-name-author-bg: #dddddd;
    --colour-samplelist-button-bg: #33330f;
    --colour-samplelist-button-selected-bg: #cccc22;
    --colour-sequence-position-fg: black;
    --colour-sequence-position-bg: #33330f;
    --colour-sequence-position-current-bg: #cccc22;
    --colour-sequence-change-pattern: #33330f;
    --colour-sequence-change-pattern-enabled: #cccc22;
    --colour-sequence-edit-button-bg: #33330f;
    --colour-sequence-edit-button-enabled-bg: #cccc22;
    --colour-transport-button-bg: #dfdfdf;
    --colour-transport-button-tempo-fg: #dfdfdf;
    --colour-transport-button-tempo-bg: #1c1c1c;
    --colour-sample-edit-label: #999999;
    --colour-sample-edit-input-text: #cccc22;
    --colour-tempo-edit-label: #999999;
    --colour-tempo-edit-input-text: #cccc22;
    --colour-master-gain-accent: #cccc22;
    --colour-master-gain-value: #cccc22;
    --colour-clip-indicator-off: #550000;
    --colour-clip-indicator-on: #ff0000;
    --colour-vu-meter-guide: #333333;
    --colour-vu-meter-bottom: rgb(0, 255, 0);
    --colour-vu-meter-middle: rgb(255, 255, 0);
    --colour-vu-meter-top: rgb(255, 0, 0);
    --colour-track-header-muted-fg: #aaaaaa;
    --colour-track-header-muted-bg: #1c1c1c;
    --colour-track-header-not-muted-fg: black;
    --colour-track-header-not-muted-bg: #aaaaaa;
    --colour-track-footer-muted-fg: #444444;
    --colour-track-footer-muted-bg: #1c1c1c;
    --colour-track-footer-not-muted-fg: #aaaaaa;
    --colour-track-footer-not-muted-bg: #1c1c1c;
    --font-track-header: 12px SplineSansMono, monospace;
    --font-pattern-data: bold 16px SplineSansMono, monospace;
}