:root {
    --colour-ui-bg: #333333;
    --colour-panel-bg: #1c1c1c;
    --colour-beat-line: #252525;
    --colour-track-lane-separator: #333333;
    --colour-text: #dddddd;
    --colour-title-text: #aaaa55;
    --colour-input-text: #aa7700;
    --colour-information-text: #aaaaaa;
    --colour-pattern-text-muted: #444444;
    --colour-pattern-text-channel-muted: #333333;
    --colour-pattern-text-bright: #ffffff;
    --colour-playhead: #333333;
    --colour-note: #00aa90;
    --colour-note-at-playhead: #00ffee;
    --colour-sample: #aaaa55;
    --colour-sample-at-playhead: #eeee33;
    --colour-command: #aa7700;
    --colour-command-at-playhead: #ffbb00;
    --colour-effect: #b75500;
    --colour-effect-at-playhead: #e77700;
    --colour-cursor: #00ff00;
    --colour-cursor-non-edit: #555555;
    --colour-cursor-text: #003300;
    --colour-selection-fill: rgba(80, 140, 255, 0.25);
    --colour-selection-outline: rgba(80, 140, 255, 0.5);
    --colour-modal-background: #222222;
    --colour-modal-border: #555555;
    --colour-button-bg: linear-gradient(to top, #aaaaaa, #dddddd);
    --colour-button-bg-disabled: linear-gradient(to top, #777777, #aaaaaa);
    --colour-button-bg-hover: #ffffff;
    --colour-button-fg: #1c1c1c;
    --colour-button-fg-disabled: #777777;
    --colour-button-border: #1c1c1c;
    --colour-selected: #ff7733;
    --colour-slider: #eeee33;
    --colour-deselected: #642f15;
    --colour-silence-all-audio-button-fg: #cc1111;
    --colour-button-load-sample-bg: #008000;
    --colour-button-save-sample-bg: #00d000;
    --colour-button-save-module-bg: green;
    --colour-radio-button-selected: #ff7733;
    --colour-radio-button-selected-hover: #ff9a62;
    --colour-samplelist-button-bg: #642f15;
    --colour-samplelist-button-hover-bg: #a44e23;
    --colour-samplelist-button-selected-bg: #ff7733;
    --colour-sequence-position-fg: black;
    --colour-sequence-position-bg: #642f15;
    --colour-sequence-position-bg-hover: #a44e23;
    --colour-sequence-position-current-bg: #ff7733;
    --colour-sequence-change-pattern: #642f15;
    --colour-sequence-change-pattern-enabled: #ff7733;
    --colour-sequence-edit-button-bg: #003000;
    --colour-sequence-edit-button-enabled-bg: #008000;
    --colour-transport-button-bg: green;
    --colour-transport-button-tempo-fg: green;
    --colour-transport-button-tempo-bg: #1c1c1c;
    --colour-sample-edit-label: #999999;
    --colour-sample-edit-input-text: #00ffee;
    --colour-tempo-edit-label: #999999;
    --colour-tempo-edit-input-text: #00ffee;
    --colour-master-gain-accent: #008000;
    --colour-master-gain-value: #008000;
    --colour-clip-indicator-off: #550000;
    --colour-clip-indicator-on: #ff0000;
    --colour-vu-meter-guide: #333333;
    --colour-vu-meter-bottom: rgb(0, 255, 0);
    --colour-vu-meter-middle: rgb(255, 255, 0);
    --colour-vu-meter-top: rgb(255, 0, 0);
    --colour-track-header-muted-fg: #aaaaaa;
    --colour-track-header-muted-bg: #1c1c1c;
    --colour-track-header-not-muted-fg: black;
    --colour-track-header-not-muted-bg: #aaaaaa;
    --colour-track-footer-muted-fg: #444444;
    --colour-track-footer-muted-bg: #1c1c1c;
    --colour-track-footer-pan-guide: #444444;
    --colour-track-footer-pan-marker: #ff7733;
    --colour-track-footer-left-label: #777777;
    --colour-track-footer-right-label: #777777;
    --colour-track-footer-not-muted-bg: #282828;
    --font-track-header: 12px SplineSansMono, monospace;
    --font-pattern-data: bold 16px SplineSansMono, monospace;
    --colour-keyboard-octave-button-fg: #cccc22;
    --colour-piano-key-white-not-selected: #888888;
    --colour-piano-key-white-selected: #cccccc;
    --colour-piano-key-black: #111111;
    --colour-user-message: #aaaa55;
    --colour-hex-calculator-button: #008000;
}