arctracker
*.o
config.log
arctracker.cbp
arctracker.layout
autom4te.cache/
autoscan.log
compile
missing
stamp-h1
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.status
configure
install-sh
*~
.idea
cmake-build-debug/
