arctracker
*.o
config.log
config.guess
config.sub
arctracker.cbp
arctracker.layout
autom4te.cache/
autoscan.log
compile
missing
stamp-h1
Makefile
Makefile.in
aclocal.m4
config.h
config.status
configure
install-sh
*~
.idea
cmake-build-debug/
arctracker-*.tar.gz
bin/
CMakeLists.txt
.DS_Store
p.patch
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vite

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
